
html,body{
width:100%;
background-color: black;

}
table{ 
width: 100%;
height:100%;
left: 0;
top: 0;
overflow: hidden;
position: fixed;
  
}
td{
font-size: 50px;
text-align: center;
color:rgb(175, 149, 0);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 900;
padding: 5px;
cursor:pointer;
}
.flip-card {
color:rgb(175, 149, 0);
background-color: #060CE9 ;
border: 5px solid black;
}
a{
  color:rgb(175, 149, 0);
  background-color: #060CE9 ;
  font-style: normal;
  font-family: itc-korinna;
 
}
a:hover{
background-color: #2980b9;

}
.question{
width: 100%;
height:100%;
left: 0;
top: 0;
overflow: hidden;
position: fixed;
}
#pulse:hover{
  animation: pulse 0.5s ease-in infinite;
}
#push:hover{
  animation: pulse 0.3s linear 1;
}
#pop:hover{
  animation: pop 0.3s linear 1;
}
@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}
@keyframes push{
  50%  {transform: scale(0.8);}
}
@keyframes pop{
  50%  {transform: scale(1.2);}
}
.flip-card-front,
.flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.flip-card-front {
background-color: #bbb;
color: black;
}
.flip-card-back {
background-color: #2980b9;
color: white;
transform: rotateY(180deg);
}
